/* popup form 01 begin */
*, *::after, *::before {
  box-sizing: border-box;
}

.modal1 {
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 1000px;
  height: 380px;
  max-width: 80%;
}

.modal1.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header1 {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header1 .title1 {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body1 {
  padding: 10px 15px;
}

#overlay1 {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay1.active {
  opacity: 1;
  pointer-events: all;
}

#popUpBtnClose {
    position: absolute;
    color: white;
    top: -15px;
    right: -15px;
}