@charset "ISO-8859-1";

/*
	.table-fixed tbody {
	    height: 350px;
	    overflow-y: auto;
	    width: 100%;
	}
	
	.table-fixed thead,
	.table-fixed tbody,
	.table-fixed tr,
	.table-fixed td,
	.table-fixed th {
	    display: block;
	}
	
	.table-fixed tbody td,
	.table-fixed tbody th,
	.table-fixed thead > tr > th {
	    float: left;
	    position: relative;
	
	    &::after {
	        content: '';
	        clear: both;
	        display: block;
	    }
	}
*/

	.table-fixed {
		position: relative;
		height: 350px;
		overflow: auto;
		display: block;
	}
